/*>>= = = = = = = = = = = = = = = = = = = = <<

-- btn-3d; mod: btn-3d--red, btn-3d--blue;
= = = = = = = = = = = = = = = = = = = = = = */
.wrap-btn-fixed-left {
  display:none;
  position:fixed;
  top:50%;
  left:-66px;
}
@media (min-width:1024px){
  .wrap-btn-fixed-left {
    display:block;
  }
}
.btn-3d-vertical {
  transform: rotate(-90deg) scale(1, 1);
}
.btn-3d {
  font-family: sans-serif;
  font-size:14px;
  text-decoration:none;
  color:#fff;
  position:relative;
  padding:11px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 4px;
  text-shadow: 1px 1px 0 #444;
  letter-spacing: 3px;
  overflow: hidden;
  border-right: 1px solid #222;
}
.btn-3d:active {
  top:3px;
}
.btn-3d:before {
  transform:rotate(90deg);
  content:"\2709";
  line-height:34px;
  max-width: 32px;
  width:100%;
  height: 38px;
  position:absolute;
  display:block;
  padding-left: 6px;
  top:0px;
  right:-38px;
  font-size:28px;
  font-weight:bold;
  color:#eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: color .3s ease;
  border-bottom: 1px solid #444;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.btn-3d:hover:before{
  font-size:26px;
  color: #fff;
  text-shadow: 0px 0px 0 #fff;
}
.btn-3d:active:before{
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.btn-3d:active:before {
  top:-3px;
}
